{
    "path": ".",
    "rules": {
        "assets": {
            "Models/1LVL.w4a": {
                "models": {
                    "1LVL.fbx": [
                        "scale=0.01"
                    ]
                }
            },
            "Models/Car1.w4a": {
                "models": {
                    "Car1.fbx": [
                        "scale=0.01"
                    ]
                }
            },
            "Models/Car2.w4a": {
                "models": {
                    "Car2.fbx": [
                        "scale=0.005"
                    ]
                }
            },
            "Models/Car3.w4a": {
                "models": {
                    "Car3.fbx": [
                        "scale=0.005"
                    ]
                }
            },
            "Models/Car4.w4a": {
                "models": {
                    "Car4.fbx": [
                        "scale=0.005"
                    ]
                }
            },
            "Models/Car5.w4a": {
                "models": {
                    "Car5.fbx": [
                        "scale=0.005"
                    ]
                }
            },
            "Models/Car6.w4a": {
                "models": {
                    "Car6.fbx": [
                        "scale=0.005"
                    ]
                }
            },
            "Models/Car7.w4a": {
                "models": {
                    "Car7.fbx": [
                        "scale=0.005"
                    ]
                }
            },
            "Models/Car8.w4a": {
                "models": {
                    "Car8.fbx": [
                        "scale=0.005"
                    ]
                }
            },
            "Models/Tank.w4a": {
                "models": {
                    "Tank.fbx": [
                        "scale=0.005"
                    ]
                }
            },
            "default.w4a": {
                "images": [
                    "Textures/1.png",
                    "Textures/2.png",
                    "Textures/3.png",
                    "Textures/4.png",
                    "Textures/5.png",
                    "Textures/6.png",
                    "Textures/7.png",
                    "Textures/8.png",
                    "Textures/Back.png",
                    "Textures/ButtonStart.png",
                    "Textures/CAR2atlas.png",
                    "Textures/Car1.png",
                    "Textures/Car2.png",
                    "Textures/Car3.png",
                    "Textures/Car4.png",
                    "Textures/Car5.png",
                    "Textures/Car55.png",
                    "Textures/Car6.png",
                    "Textures/Car8.png",
                    "Textures/CarButton.png",
                    "Textures/ChooseACar.png",
                    "Textures/CoinWindow.png",
                    "Textures/Flag.png",
                    "Textures/FuelEmpty.png",
                    "Textures/FuelFull.png",
                    "Textures/FuelTopBarInside.png",
                    "Textures/FuelTopBarOutside.png",
                    "Textures/Highscores.png",
                    "Textures/Key.png",
                    "Textures/MainMenu.png",
                    "Textures/ProgressBarCar.png",
                    "Textures/ProgressBarInside.png",
                    "Textures/ProgressBarOutside.png",
                    "Textures/PrototypeGrid.png",
                    "Textures/Result.png",
                    "Textures/Retry.png",
                    "Textures/Settings.png",
                    "Textures/Shop.png",
                    "Textures/T__01_A.jpg",
                    "Textures/Tank.png",
                    "Textures/upEngine.png",
                    "Textures/upFuel.png",
                    "Textures/upPoints.png"
                ],
                "materials": [
                    "Materials/acceleration.mat",
                    "Materials/default.mat",
                    "Materials/progressBar.mat",
                    "Materials/sprite.mat"
                ]
            }
        },
        "pass": [
            "Temp/obstacles.json",
            "Ui/Game.json",
            "Ui/HighScores.json",
            "Ui/MainMenu.json",
            "Ui/Result.json",
            "Ui/Settings.json",
            "Ui/Shop.json",
            "Ui/VehicleSelect.json",
            "carResources.json",
            "resources.json",
            "settings.json",
            "turns.json"
        ],
        "skip": [
            "AssetCreator.config",
            "Materials/shaders/acceleration.fs",
            "Materials/shaders/default.fs",
            "Materials/shaders/default.vs",
            "Materials/shaders/progressBar.fs",
            "Materials/shaders/sprite.fs",
            "Materials/shaders/sprite.vs"
        ]
    },
    "version": "1.0"
}